@model  List<AVcompanyWeb.Models.WoodProtectionType>

<style>
    .header-th {
        background-color: #2b2b2b;
        color: white;
    }

    .column-td {
        background-color: white;
    }

    .column-icon {
        color: #0384f3;
        margin: 5px;
    }
</style>


<div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="display:block">
                <h4 class="modal-title" id="mySmallModalLabel" style="text-align:center;font-weight:bolder">Crear Nuevo</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Nombre</label>
                        <input type="hidden" id="woodTypeProtection-id" />
                        <input type="text" class="form-control" id="woodTypeProtection-name">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Descripcion</label>
                        <textarea type="text" class="form-control" id="woodTypeProtection-description" rows="2"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                <button type="button" id="btnWoodTypeProtection" class="btn btn-danger waves-effect waves-light">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>




<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <span class="icon-disc"></span><h4 class="text-themecolor" style="display:inline;padding-left:5px;">Listado de tipos de Acabado</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Tipos Acabado</li>
            </ol>
            <a href="#" id="newWoodTypeProtection" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i>  Crear Nuevo</a>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <!-- Column -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Tabla de tipos de Acabado</h4>
                <h6 class="card-subtitle">Muestra el listado de los tipos de Acabado.</h6>
                <!-- Accordian -->
                <table data-toggle="table"
                       data-search="true"
                       data-show-columns="true"
                       data-pagination="true">
                    <thead>
                        <tr>
                            <th class="header-th" data-align="center">N°</th>
                            <th class="header-th" data-align="center">Nombre</th>
                            <th class="header-th" data-align="center">Descripción</th>
                            <th class="header-th" data-align="center">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int contador = 0; }
                        @foreach (var item in Model)
                        {
                            contador++;
                            <tr>
                                <td class="column-td">@contador</td>
                                <td class="column-td">@item.name</td>
                                <td class="column-td">@item.description</td>
                                <td class="column-td">
                                    <a class="edit column-icon" data-woodProtectionType="@item.id" href="#" title="Editar"><i class="fas fa-pencil-alt"></i></a>
                                    <a class="remove column-icon" href="@Url.Action("Delete","WoodProtectionType",new { id = item.id})" title="Eliminar"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>

        $(document).ready(function () {
            $('#newWoodTypeProtection').click(function () {
                $('#mySmallModalLabel').text("Crear nuevo");
                $('.bs-example-modal-sm').modal('show');
                $('#btnWoodTypeProtection').addClass('createWTP').removeClass('editWTP');
        });

        $('.edit').click(function () {
            var woodTypeProtectionId = $(this).attr('data-woodProtectionType');

            $('#mySmallModalLabel').text("Editar");
            $.get('@Url.Action("GetWoodProtectionType","WoodProtectionType")', { id: woodTypeProtectionId }, function (response) {
                $('#woodTypeProtection-description').val(response.description);
                $('#woodTypeProtection-id').val(response.id);
                $('#woodTypeProtection-name').val(response.name);
                $('.bs-example-modal-sm').modal('show');
                $('#btnWoodTypeProtection').addClass('editWTP').removeClass('createWTP');
            })
        });


            $('#btnWoodTypeProtection').click(function () {
                var description = $('#woodTypeProtection-description').val();
                var name = $('#woodTypeProtection-name').val();
                var id = $('#woodTypeProtection-id').val();

            

                var woodProtectionType = {
                id: id,
                name: name,
                description: description,
                isActive : true
            }

                console.log(woodProtectionType);

            if ($(this).hasClass('createWTP')) {
                $.post('@Url.Action("Create","WoodProtectionType")', { woodProtectionType: woodProtectionType }, function (response) {
                    console.log(response);
                    if (response == "Ok") {
                        console.log(response);
                        window.location.href = "@Url.Action("List","WoodProtectionType")";
                    }
                })
            } else {
                $.post('@Url.Action("Edit", "WoodProtectionType")', { woodProtectionType: woodProtectionType }, function (response) {
                    console.log(response);
                    if (response == "Ok") {
                        console.log(response);
                        window.location.href = "@Url.Action("List", "WoodProtectionType")";
                    }
                })
            }
        })

        })

    </script>
}



