@{
    AVcompanyWeb.Models.User user = (AVcompanyWeb.Models.User)Session["user"];
 }
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from eliteadmin.themedesigner.in/demos/bt4/material/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 27 Oct 2019 18:55:56 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>Elite Admin Template - The Ultimate Multipurpose admin template</title>
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <!--<link href="../assets/node_modules/morrisjs/morris.css" rel="stylesheet">-->
    <link href="~/Content/AVCompanyCSS/morris.css" rel="stylesheet" />
    <!--Toaster Popup message CSS -->   
    <!--<link href="../assets/node_modules/toast-master/css/jquery.toast.css" rel="stylesheet">-->
    <link href="~/Content/AVCompanyCSS/jquery.toast.css" rel="stylesheet" />
    <link href="~/Content/AVCompanyCSS/steps.css" rel="stylesheet" />
    <link href="~/Content/AVCompanyCSS/sweetalert2.min.css" rel="stylesheet" />

    <link href="~/Content/AVCompanyCSS/all.css" rel="stylesheet" />


    <link href="~/Content/AVCompanyCSS/dropzone.css" rel="stylesheet" />
    <link href="~/Content/AVCompanyCSS/footable-page.css" rel="stylesheet" />

    <link href="~/Content/AVCompanyCSS/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/Content/AVCompanyCSS/responsive.dataTables.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <!--<link href="dist/css/style.min.css" rel="stylesheet">-->
    <link href="~/Content/AVCompanyCSS/style.min.css" rel="stylesheet" />
    <!-- Dashboard 1 Page CSS -->
    <!--<link href="dist/css/pages/dashboard1.css" rel="stylesheet">-->
    <link href="~/Content/AVCompanyCSS/dashboard1.css" rel="stylesheet" />

    <link href="~/Content/AVCompanyCSS/magnific-popup.css" rel="stylesheet" />

    <link href="~/Content/AVCompanyCSS/user-card.css" rel="stylesheet" />

    <link href="~/Content/AVCompanyCSS/bootstrap-table.min.css" rel="stylesheet" />
    <link href="~/Content/AVCompanyCSS/select2.min.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="~/Content/AVCompanyCSS/form-icheck.css" rel="stylesheet" />
</head>

<body class="fixed-layout skin-blue-dark mini-sidebar">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Arte en Madera Perú</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="g" alt="Arte en Madera Perú" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="" alt="Arte en Madera Perú" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                            <!-- dark Logo text -->
                            <!--<img src="../assets/images/logo-text.png" alt="homepage" class="dark-logo" />-->
                            <!-- Light Logo text -->
                            <!--<img src="../assets/images/logo-light-text.png" class="light-logo" alt="homepage" />-->
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark" href="javascript:void(0)"><i class="icon-menu"></i></a> </li>
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <!--<li class="nav-item">
                            <form class="app-search d-none d-md-block d-lg-block">
                                <input type="text" class="form-control" placeholder="Search & enter">
                            </form>
                        </li>-->
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Comment -->
                        <!-- ============================================================== -->
                        <!--<li class="nav-item dropdown">
                            <div class="dropdown-menu dropdown-menu-right mailbox scale-up">
                                <ul>
                                    <li>
                                        <div class="message-center">
                                          
                                            <a href="javascript:void(0)">
                                                <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Luanch Admin</h5> <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span>
                                                </div>
                                            </a>
                                           
                                            <a href="javascript:void(0)">
                                                <div class="btn btn-success btn-circle"><i class="ti-calendar"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Event today</h5> <span class="mail-desc">Just a reminder that you have event</span> <span class="time">9:10 AM</span>
                                                </div>
                                            </a>
                                          
                                            <a href="javascript:void(0)">
                                                <div class="btn btn-info btn-circle"><i class="ti-settings"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Settings</h5> <span class="mail-desc">You can customize this template as you want</span> <span class="time">9:08 AM</span>
                                                </div>
                                            </a>
                                           
                                            <a href="javascript:void(0)">
                                                <div class="btn btn-primary btn-circle"><i class="ti-user"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center link" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>-->
                        <!-- ============================================================== -->
                        <!-- End Comment -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">

                        </li>
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- mega menu -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown mega-dropdown">
                        </li>
                        <!-- ============================================================== -->
                        <!-- End mega menu -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- User Profile -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown u-pro">

                            <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@user.username<span class="hidden-md-down"> &nbsp;<i class="ti-settings"></i></span> </a>
                            <div class="dropdown-menu dropdown-menu-right animated flipInY">
                                
                                <!--<a href="javascript:void(0)" class="dropdown-item"><i class="ti-user"></i> My Profile</a>
                                
                                <a href="javascript:void(0)" class="dropdown-item"><i class="ti-wallet"></i> My Balance</a>
                                
                                <a href="javascript:void(0)" class="dropdown-item"><i class="ti-email"></i> Inbox</a>
                                
                                <div class="dropdown-divider"></div>
                                                                <a href="javascript:void(0)" class="dropdown-item"><i class="ti-settings"></i> Account Setting</a>
                                
                                <div class="dropdown-divider"></div>-->
                                <!-- text-->
                                <a href="@Url.Action("Logout","Home")" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
                                <!-- text-->
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- End User Profile -->
                        <!-- ============================================================== -->
                       
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="user-pro">
                            <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><img src="../assets/images/users/1.jpg" alt="" class="img-circle"><span class="hide-menu"></span></a>

                        </li>
                        <li class="nav-small-cap">--- MANTENIMIENTO</li>
                        <li>
                            <a class="waves-effect waves-dark" href="@Url.Action("List","Product")" aria-expanded="false"><i class="icon-puzzle"></i><span class="hide-menu">Producto </span></a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="@Url.Action("List","Category")" aria-expanded="false"><i class="icon-speedometer"></i><span class="hide-menu">Categoria </span></a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-speedometer"></i><span class="hide-menu">Sub-Categoria </span></a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="@Url.Action("Index","WoodType")" aria-expanded="false"><i class="icon-disc"></i><span class="hide-menu">Madera </span></a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="@Url.Action("List","PriceType")" aria-expanded="false"><i class="icon-wallet"></i><span class="hide-menu">Precio </span></a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="@Url.Action("List","WoodProtectionType")" aria-expanded="false"><i class="icon-social-dropbox"></i><span class="hide-menu">Acabado </span></a>
                        </li>
                              
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                @RenderBody()
            </div>
            <!-- ============================================================== -->
            <!-- End Page wrapper  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer" style="margin-left:0px;">
                © 2020 Arte en Madera Perú by AVCompany 
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Wrapper -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- All Jquery -->
        <!-- ============================================================== -->
        <!--<script src="../assets/node_modules/jquery/jquery-3.2.1.min.js"></script>-->
        <script src="~/Scripts/AVCompanyJS/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap popper Core JavaScript -->
        <!--<script src="../assets/node_modules/popper/popper.min.js"></script>-->
        <script src="~/Scripts/AVCompanyJS/popper.min.js"></script>
        <!--<script src="../assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>-->
        <script src="~/Scripts/AVCompanyJS/bootstrap.min.js"></script>
        <!-- slimscrollbar scrollbar JavaScript -->
        <!--<script src="dist/js/perfect-scrollbar.jquery.min.js"></script>-->
        <script src="~/Scripts/AVCompanyJS/perfect-scrollbar.jquery.min.js"></script>
        <!--Wave Effects -->
        <!--<script src="dist/js/waves.js"></script>-->
        <script src="~/Scripts/AVCompanyJS/waves.js"></script>
        <!--Menu sidebar -->
        <!--<script src="dist/js/sidebarmenu.js"></script>-->
        <script src="~/Scripts/AVCompanyJS/sidebarmenu.js"></script>
        <!--Custom JavaScript -->
        <!--<script src="dist/js/custom.min.js"></script>-->
        <script src="~/Scripts/AVCompanyJS/custom.min.js"></script>
        <!-- ============================================================== -->
        <!-- This page plugins -->
        <!-- ============================================================== -->
        <!--morris JavaScript -->
        <script src="~/Scripts/AVCompanyJS/raphael-min.js"></script>
        <script src="~/Scripts/AVCompanyJS/morris.min.js"></script>
        <script src="~/Scripts/AVCompanyJS/jquery.sparkline.min.js"></script>

        <!--<script src="../assets/node_modules/raphael/raphael-min.js"></script>
    <script src="../assets/node_modules/morrisjs/morris.min.js"></script>
    <script src="../assets/node_modules/jquery-sparkline/jquery.sparkline.min.js"></script>-->
        <!-- Popup message jquery -->
        <script src="~/Scripts/AVCompanyJS/jquery.toast.js"></script>
        <!--<script src="../assets/node_modules/toast-master/js/jquery.toast.js"></script>-->
        <!-- Chart JS -->
        <!--<script src="~/Scripts/AVCompanyJS/dashboard1.js"></script>-->
        <!--<script src="dist/js/dashboard1.js"></script>-->


        <script src="~/Scripts/AVCompanyJS/Products.js"></script>

        <script src="~/Scripts/AVCompanyJS/jquery.steps.min.js"></script>
        <script src="~/Scripts/AVCompanyJS/jquery.validate.min.js"></script>

        <script src="~/Scripts/AVCompanyJS/icheck.min.js"></script>
        <script src="~/Scripts/AVCompanyJS/icheck.init.js"></script>

        <script src="~/Scripts/AVCompanyJS/dropzone.js"></script>


        <script src="~/Scripts/AVCompanyJS/custom.min.js"></script>
        <script src="~/Scripts/AVCompanyJS/footable.min.js"></script>

        <script src="~/Scripts/AVCompanyJS/jquery.dataTables.min.js"></script>
        <script src="~/Scripts/AVCompanyJS/dataTables.responsive.min.js"></script>

        <script src="~/Scripts/AVCompanyJS/bootstrap-table.min.js"></script>

        <script src="~/Scripts/AVCompanyJS/jquery.magnific-popup.min.js"></script>
        <script src="~/Scripts/AVCompanyJS/jquery.magnific-popup-init.js"></script>
        <script src="~/Scripts/AVCompanyJS/select2.full.min.js"></script>

        <!--<script src="~/Scripts/AVCompanyJS/footable-init.js"></script>-->

        @RenderSection("Scripts", required: false)
</body>


<!-- Mirrored from eliteadmin.themedesigner.in/demos/bt4/material/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 27 Oct 2019 18:56:02 GMT -->
</html>